/* Basic reset */
@font-face {
    font-family: "Determination";
    src: url("fonts/DeterminationMonoWebRegular-Z5oq.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Determination";
    overflow: hidden;
    background-color: #333;
}

h1 {
    color: red;
}

/* Container that holds both main content and wheel */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1
}

/* Main content area */
.main-content {
    flex: 1;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: max-height 0.3s ease-in-out;
    position: relative;
    z-index: 100;
}

.icon {
    width: 3.5%;
    height: 3.5%;
    margin-bottom: -0.5%;
}

#project-info a {
    color: #000;
    text-decoration: none;
}

#project-info a:hover {
    text-decoration: underline;
}

.ping-me {
    font-weight: bold;
    font-size: 18px;
}

.wheel-container {
    position: relative;
    width: 60%;
    height: auto;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: background-color 0.5s ease;
    padding: 20px 0;
    z-index: 1;
    overflow: visible;
}

/* New class for active project */
/* Music Box */
.wheel-container.active-project2 {
    background-color: #212121;
}
/* Fishing */
.wheel-container.active-project3 {
    background-color: black;
}
/* SHIM */
.wheel-container.active-project4 {
    background-color: rgb(13, 16, 23);
}
/* XYZ News */
.wheel-container.active-project5 {
    /* tile breaker
    background-color: rgb(104, 219, 238);
    */
    background-color: white;
}
/* Vehfare */
.wheel-container.active-project6 {
    background-color: black;
}

/* Wheel styling */
.wheel {
    position: relative;
    width: 2000px;
    height: 2000px;
    border-radius: 100%;
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
    margin-right: -1850px;
    overflow: visible;
}

/* Wheel segments styling */
.wheel-segment {
    position: absolute;
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
    transform-origin: center center;
    padding-left: 1400px;
    overflow: visible;
}

#proj-dets {
    color: #fff;
}

/* Ensure text inside segments is upright */
.wheel-segment span {
    display: block;
    transform: rotate(-180deg);
    /* Counter-rotate by the same amount to keep text upright */
}

/* Image styling */
.proj-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding-bottom: 1%;
}

/* Overlay text styling */
.overlay-text {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    padding: 20px;
    padding-left: 5%;
    padding-right: 15%;
}

.pin {
    position: absolute;
    font-size: 800%;
    max-width: 15%;
    max-height: 15%;
    width: 15%;
    height: 15%;
    left: 95%;
    top: 15%;
}

.pin a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.pin a img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.pin a:hover {
    transform: scale(1.4);
}

.twitter-container {
    position: absolute;
    width: 30%;
    height: auto;
    left: 87.5%;
    top: 0%;
}

/* Positioning each segment to make the wheel effect */
.wheel-segment:nth-child(1) {
    transform: rotate(180deg) translateX(600px);
}

.wheel-segment:nth-child(2) {
    transform: rotate(240deg) translateX(600px);
}

.wheel-segment:nth-child(3) {
    transform: rotate(300deg) translateX(600px);
}

.wheel-segment:nth-child(4) {
    transform: rotate(360deg) translateX(600px);
}

.wheel-segment:nth-child(5) {
    transform: rotate(60deg) translateX(600px);
}

.wheel-segment:nth-child(6) {
    transform: rotate(120deg) translateX(600px);
}

/* Initially hide off-screen */
.toggle-paragraph {
    position: absolute;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    color: #333;
    font-size: 18px;
    text-align: left;
    padding: 30px;
    padding-top: 50px;
    z-index: 1000;
    box-sizing: border-box;
    overflow: auto;
    font-weight: bold;
    transition: left 0.5s ease;
}

.toggle-paragraph.active {
    left: 0%;
    overflow: hidden; 
}

.toggle-chat {
    margin: 3% 0% 0% 0%;
    width: auto;
}

.nav-links {
    position: absolute;
    z-index: 5000;
}

.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 3000;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Images in Nav*/
.menu-images {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
}

#busstopPath {
    position: absolute;
    z-index: 3010;
    width: 128%;
    height: auto;
    left: 28%;
    top: 112%;
    filter: drop-shadow(5px 5px 0 black);
}

#busstop {
    position: absolute;
    z-index: 3020;
    width: 128%;
    height: auto;
    left: 28%;
    top: 112%;
    filter: drop-shadow(3px 0 0 red) hue-rotate(180deg) drop-shadow(5px 0 0 black);
}

#fishingAD {
    position: absolute;
    z-index: 3020;
    width: 9%;
    height: auto;
    left: 63.25%;
    top: 122.75%;
    border: 1px solid black;
    border-radius: 5px;
}

#UnqStringGenAd {
    position: absolute;
    z-index: 3020;
    width: 9%;
    height: auto;
    left: 75%;
    top: 122.75%;
    border: 1px solid black;
    border-radius: 5px;
}

#vehfareAD {
    position: absolute;
    z-index: 3020;
    width: 9%;
    height: auto;
    left: 108.25%;
    top: 122.75%;
    border: 1px solid black;
    border-radius: 5px;
}

/* ch logo */
#ch-switch {
    position: absolute;
    padding: 5px;
    background-color: transparent;
    width: auto;
    left: 103.5%;
    top: 116%;
    z-index: 3030;
}

.ch-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 100%;
    top: 104%;
    z-index: 3030;
    border: 2px solid black;
    border-radius: 5px;
    width: 10vw;
    height: 5.5vh;
    padding: 1vh 1vw 1vh 0vw;
    background-color: rgba(193, 193, 193, 0.6);
}

#wa-logo {
    display: flex;
    position: fixed;
    top: 104.75%;
    left: 101%;
    align-items: center;
}

#zh-logo {
    display: flex;
    position: fixed;
    top: 104.75%;
    left: 111%;
    align-items: center;
}

#jie-logo {
    display: flex;
    position: fixed;
    top: 104.75%;
    left: 121%;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: 3040;
}

.brighter {
    filter: brightness(1.5) drop-shadow(0 0 0.75rem rgba(220, 20, 20, 0.35));
}

.dim {
    filter: brightness(0.7) drop-shadow(0 0 0.75rem rgba(220, 20, 20, 0.35));
}

.flicker {
    animation: flickering 0.07s infinite ease-in-out;
}

@keyframes flickering {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* marquee */

#marquee-switch {
    position: absolute;
    padding: 5px;
    background-color: transparent;
    width: auto;
    left: 129%;
    top: 114.5%;
    z-index: 3030;
}

.marquee-s-overlay {
    position: absolute;
    top: 160%;
    left: 180%;
    width: 200%;
    height: 200%;
    opacity: 1;
}

.marquee {
    position: relative;
    width: 88.5%;
    height: 0%;
    z-index: 3030;
    left: 53.5%;
    top: 114%;
    overflow: hidden;
    padding: 7px 0px 7px 0px;
    background-color: rgba(0, 0, 0, 1);
}

.marquee p {
    position: absolute;
    top: -10%;
    margin: 0;
    font-size: 16px;
    color: #fffb00;
    font-family: "Determination";
    white-space: nowrap;
    text-align: center;
    animation: scroll-left 15s linear infinite;
}

.marquee-dim {
    filter: brightness(0.1) drop-shadow(0 0 0.75rem rgba(220, 20, 20, 0.35));
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* -------------------------------------------------------------button 10----------------------------------------------------- */

.Mahekjain-btn-1 {
    font-size: 16px;
}

.Mahekjain-btn-1 a {
    position: relative;
    display: inline-block;
    padding: 25px 15px;
    margin: 0px 0px 30px 0px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.Mahekjain-btn-1 a:hover {
    background: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff,
        0 0 200px #ffffff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.Mahekjain-btn-2 {
    font-size: 16px;
}

.Mahekjain-btn-2 a {
    position: relative;
    display: inline-block;
    padding: 25px 15px;
    margin: 0px 0px 30px 0px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.Mahekjain-btn-2 a:hover {
    background: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff,
        0 0 200px #ffffff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* -------------------------------------------------------------end of button 10----------------------------------------------------- */
/* Balloon container */
#balloon-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 4000;
    overflow: hidden;
    pointer-events: none;
}

/* Balloon style */
.balloon {
    position: absolute;
    bottom: -70px;
    /* Start below the screen */
}

/* Balloon floating animation */
@keyframes floatUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}

/* Styles for shooting stars */
#star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3900;
}

.shooting-star {
    position: absolute;
    width: 2px;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), red);
    border-radius: 50%;
    opacity: 0;
    transform: rotate(45deg);
    animation: shooting 4s ease-out forwards;
}

@keyframes shooting {
    0% {
        opacity: 1;
        transform: translate(0, 0) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: translate(-100vw, 100vh) rotate(45deg);
    }
}

.nav-stats {
    display: flex;
    gap: 5px;
    position: fixed;
    top: 16px;
    left: 52px;
    z-index: 110;
    max-width: 38%;
}

#fps, #SGT {
    padding: 5px;
    background-color: transparent;
    color: black;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: auto;
}

#visitors {
    padding: 5px 0 5px 0;
    font-size: 20px;
    width: auto;
}

#visitor-count-container {
    position: relative;
    width: 20%;
    height: 26.5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#visitor-count-container:hover {
    transform: scale(1.05);
}

#visitor-count-href {
    position: absolute;
    display: block;
    z-index: 111;
    width: 100%;
    height: 100%;
}

#visitor-count-iframe {
    width: 100%;
    height: 100%;
    padding: 3px 1px 0 3px;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: 0px;
    border: none;
}

#chatbox-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 5px;
    z-index: 10;
    overflow: visible;
}

#chatbox-iframe {
    width: 100%;
    flex-grow: 1;
    border: none;
    min-height: 350px;
    height: 100%;
    display: none;
}

#chatbox-text {
    position: absolute;
    margin: 0%;
    top: 8px;
    left: 40px;
    color: white;
    font-size: 20px;
}

#loading-message {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.e-expand-chatbox {
    position: absolute;
    top: 6%;
    left: 23%;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    border: none;
    font-size: 16px;
    font-family: "Determination";
}

#whitecat1 {
    cursor: pointer;
    position: absolute;
    margin: 0%;
    top: -7%;
    left: 79%;
    color: white;
    font-size: 18px;
    max-width: 20%;
    max-height: 20%;
}

#expand-text {
    cursor: pointer;
    position: absolute;
    margin: 0%;
    top: 2%;
    left: 88%;
    color: white;
    font-size: 20px;
    color: red;
    font-style: italic;
}

/*Expanded Chatbox */
#e-chatbox-container {
    position: fixed;
    bottom: -100%; /* Start hidden offscreen */
    left: 70%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all 0.5s ease;
    background-color: black;
}

#e-chatbox-container.expanded {
    bottom: 0;
}

#e-chatbox-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

#e-chatbox-text {
    position: absolute;
    margin: 0%;
    top: 6%;
    left: 23%;
    color: white;
    font-size: 18px;
}

#e-loading-message {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    padding-top: 25%;
}

.e-close-chatbox {
    position: absolute;
    top: 6%;
    left: 75%;
    background-color: transparent;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    border: none;
    font-size: 16px;
    font-family: "Determination";
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.arrow {
    position: absolute;
    max-width: 15%;
    width: 15%;
    height: auto;
    left: -6%;
    top: 0%;
    z-index: 3;
    display: block;
}

.areaOne-Container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    top: 0;
    left: 0%;
    transition: transform 1s ease;
    transform: translateX(-100%);
    z-index: 2;
    display: block;
}

.reversearrow {
    position: absolute;
    max-width: 15%;
    width: 15%;
    height: auto;
    right: -6%;
    top: 3%;
    z-index: 3;
}


/* Media Queries for smaller laptops */
@media (max-width: 1024px) {

    .wheel-segment {
        position: absolute;
        width: 25%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.5s;
        transform-origin: center center;
        padding-left: 1200px;
    }

    #e-chatbox-iframe {
        position: absolute;
        left: 25%;
        width: 50%;
    }

    #e-chatbox-text {
        top: 7%;
        left: 28%;
    }
    
    .e-close-chatbox {
        top: 7%;
        left: 70%;
    }

    #chatbox-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 5px;
        z-index: 10;
        overflow: visible;
    }
    
    #chatbox-iframe {
        width: 100%;
        flex-grow: 1;
        border: none;
        padding-top: 5%;
        min-height: 0px;
        height: 100%;
    }
}

@media (max-width: 1023px) {

    .toggle-paragraph.active {
        left: -100%;
    }

    #chatbox-iframe {
        min-height: 0px;
        height: 100%;
    }

    .arrow, .twitter-container, .areaOne-Container {
        display: none;
    }
}

/* Media Queries for mobile devices */
@media (max-width: 768px) {
    h1 {
        font-size: x-large;
    }

    .container {
        flex-direction: column;
        position: relative;
    }

    .main-content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        max-height: 0;
        opacity: 0;
        z-index: 2000;
        overflow: hidden;
    }

    .main-content.active {
        max-height: 100%;
        opacity: 1;
        overflow: auto;
    }

    .menu-toggle {
        display: block;
        color: red;
    }

    .wheel-container {
        width: 100%;
        height: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .wheel {
        position: relative;
        width: 1000px;
        height: 1000px;
        border-radius: 100%;
        border: 4px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 1s ease;
        margin-right: -1300px;
    }

    /* Wheel segments styling */
    .wheel-segment {
        position: absolute;
        width: 35%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.5s;
        transform-origin: center center;
        padding-left: 110px;
    }

    .proj-img {
        width: 100%;
        height: auto;
    }

    .overlay-text {
        padding-left: 10%;
        padding-right: 10%;
    }

    .icon {
        width: 4.5%;
        height: 4.5%;
        margin-bottom: -0.5%;
    }

    .footer {
        font-size: smaller;
    }

    .pin, .e-expand-chatbox, .nav-stats, #expand-text {
        display: none;
    }

}